body {
  background-color: rgb(236, 236, 236);
}
.templateContainer {
  margin: 5% 0;
}
.templateContainer > .searchInput_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.templateContainer > .searchInput_Container input {
  width: 30%;
  height: 50px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(222, 222, 222);
}
.templateContainer .template_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.templateContainer .template_Container .template {
  background-color: white;
  margin: 30px;
  padding: 20px 10px;
}
.templateContainer .template_Container .template img {
  border-radius: 10px;
  height: 250px;
}
.template {
  border-radius: 10%;
  line-height: 50%;
}
image {
  font-size: 15px;
}
.thon {
  align-items: center;
  justify-content: center;
  margin: 15rem;
}
